# temp storage for the update process
/update_*

# temp storage for releases
/deploy
/publicize

# IDE stuff
/*DotSettings.user
**/*csproj.user
/.vs

# coverage results
/TestResults

**/.claude/settings.local.json
